<h1>Members</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each member.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{! For each row, print the memberID, firstName, lastName, phoneNumber, email}}
        {{#each member}}
        <tr>
            <td>{{this.memberID}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.phoneNumber}}</td>
            <td>{{this.email}}</td>

            {{! DELETE form}}
            <form id="delete_member_form">
                <input type="hidden" name="delete_member_id" value="{{this.memberID}}" />
                <input type="hidden" name="delete_member_name" value="{{this.firstName}}" {{this.lastName}} />
                <td>
                    <button type="submit">
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form}}
<h2>Create a Member</h2>
<form class="cuForm" id="create_member_form">
    <label for="create_member_firstName">First Name: </label>
    <input type="text" name="create_member_firstName" id="create_member_firstName" required />
    
    <label for="create_member_lastName">Last Name: </label>
    <input type="text" name="create_member_lastName" id="create_member_lastName" required/>

    <label for="create_member_phoneNumber">Phone Number: </label>
    <input type="text" name="create_member_phoneNumber" id="create_member_phoneNumber" required />

    <label for="create_member_email">Email: </label>
    <input type="text" name="create_member_email" id="create_member_email" required />

    <input type="submit" />
</form>

{{! UPDATE form }}
<h2>Update a Member</h2>
<form class="cuForm" id="update_member_form">
    <label for="update_member_id">Member to Update: </label>
    <select name="update_member_id" id="update_member_id" required>
        <option value="" disabled selected>Select a Member</option>
        {{#each member}}
        <option value="{{this.memberID}}" required>
            {{this.memberID}}
            -
            {{this.firstName}}
            {{this.lastName}}
        </option>
        {{/each}}
    </select>

    <label for="update_member_phoneNumber">Phone Number: </label>
    <input type="text" name="update_member_phoneNumber" id="update_member_phoneNumber" required />

    <label for="update_member_email">Email: </label>
    <input type="text" name="update_member_email" id="update_member_email" required />

    <input type="submit" />        
</form>