<h1>Members</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each members.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, firstName, lastName, phoneNumber, email }}
        {{#each members}}
        <tr>
            <td>{{this.memberID}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.phoneNumber}}</td>
            <td>{{this.email}}</td>
            
            <button type="button" onclick="deleteMember({{this.memberID}})">Delete</button>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
<h2>Create a Member</h2>
<form action="/members" method="POST" id="add-member-form">
    <label for='firstName'>First Name: </label>
    <input type='text' name='firstName' id='firstName' required />

    <label for='lastName'>Last Name: </label>
    <input type='text' name='lastName' id='lastName' required />

    <label for='phoneNumber'>Phone Number: </label>
    <input type='text' name='phoneNumber' id='phoneNumber' required />

    <label for='email'>Email: </label>
    <input type='text' name='email' id='email' required />

    <input type='submit' value="Add Member"/>
</form>

{{! UPDATE form }}
<h2>Update a Member</h2>
<form class='cuForm' id='update_member_form'>
    <label for='update_member_id'>Member to Update: </label>
    <select name='update_member_id' id='update_member_id' required>
        <option value='' disabled selected>Select a Member</option>
        {{#each members}}
        <option value='{{this.memberID}}' required>
            {{this.memberID}}
            -
            {{this.firstName}}
            {{this.lastName}}
        </option>
        {{/each}}
    </select>

    <label for='phoneNumber'>Phone Number: </label>
    <input type='text' name='phoneNumber' id='update_phoneNumber' />

    <label for='email'>Email: </label>
    <input type='text' name='email' id='update_email' />

    <input type='submit' value="Update Member"/>
</form>
