<h1>Members</h1>
<button type="button" onclick="window.location.reload()">Reset Page</button>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each members.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

<tbody>
    {{#each members}}
    <tr>
        <td>{{this.memberID}}</td>
        <td>{{this.firstName}}</td>
        <td>{{this.lastName}}</td>
        <td>{{this.phoneNumber}}</td>
        <td>{{this.email}}</td>
        <td>
            <form id="delete-member-form" method="POST" action="/members/delete">
                <input type="hidden" name="delete_member_id" value="{{this.memberID}}" />
                <button class="btn-delete" type="submit">Delete</button>
            </form>
        </td>

    </tr>
        {{/each}}
    </tbody>
    </table>

{{! CREATE form }}
<h2>Create a Member</h2>
<form class="cuForm" id="add-member-form" method="POST" action="/members">
    <label for='fNameInput'>First Name: </label>
    <input type='text' name='fNameInput' id='fNameInput' autocomplete='given-name' required />

    <label for='lNameInput'>Last Name: </label>
    <input type='text' name='lNameInput' id='lNameInput' autocomplete='family-name' required />

    <label for='phoneInput'>Phone Number: </label>
    <input type='text' name='phoneInput' id='phoneInput' autocomplete='tel' required />

    <label for='emailInput'>Email: </label>
    <input type='email' name='emailInput' id='emailInput' autocomplete='email' required />

    <input type='submit' value="Add Member"/>
</form>

{{! UPDATE form }}
<h2>Update a Member</h2>
<form class='cuForm' id='update-member-form' method="POST" action="/members/update">
    <label>Member:</label>
    <select name="update_member_id" required>
        <option value="" disabled selected>Select a Member</option>
        {{#each members}}
        <option value="{{this.memberID}}">
            {{this.memberID}} - {{this.firstName}} {{this.lastName}}
        </option>
        {{/each}}
        </select>
    <label>First Name:</label>
    <input type="text" name="update_member_firstName" required>
    <label>Last Name:</label>
    <input type="text" name="update_member_lastName" required>
    <label>Phone:</label>
    <input type="text" name="update_member_phoneNumber" required>
    <label>Email:</label>
    <input type="email" name="update_member_email" required>
    
    <input type="submit" value="Update Member">
</form>

<!-- <script src="/js/update_member.js"></script> -->
<!-- <script src="/js/delete_member.js"></script> -->

{{!--
        Citation for use of AI Tools:
        Date: 02/08/2026
        Prompts used to generate handlebars script
        Write a handlebars script for CS340 OSU Project 3 for the Coupon Entity from the DDL Database (pasted in prompt)
        AI Source URL: https://gemini.google.com/
        Links to an external site.
--}}
