<h1>Members</h1>
<button type="button" onclick="window.location.reload()">Reset Page</button>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each members.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

<tbody>
    {{#each members}}
    <tr>
        <td>{{this.memberID}}</td>
        <td>{{this.firstName}}</td>
        <td>{{this.lastName}}</td>
        <td>{{this.phoneNumber}}</td>
        <td>{{this.email}}</td>
        <td>
            <button class="btn-delete" onclick="deleteMember({{this.memberID}})">Delete</button>
        </td>

    </tr>
        {{/each}}
    </tbody>
    </table>

{{! CREATE form }}
<h2>Create a Member</h2>
<form action="/members" method="POST" id="add-member-form">
    <label for='fNameInput'>First Name: </label>
    <input type='text' name='fNameInput' id='fNameInput' autocomplete='given-name' required />

    <label for='lNameInput'>Last Name: </label>
    <input type='text' name='lNameInput' id='lNameInput' autocomplete='family-name' required />

    <label for='phoneInput'>Phone Number: </label>
    <input type='text' name='phoneInput' id='phoneInput' autocomplete='tel' required />

    <label for='emailInput'>Email: </label>
    <input type='email' name='emailInput' id='emailInput' autocomplete='email' required />

    <input type='submit' value="Add Member"/>
</form>

{{! UPDATE form }}
<h2>Update a Member</h2>
<form class='cuForm' id='update-member-form'>
    <label for='update_member_id'>Member to Update: </label>
    <select name='update_member_id' id='update_member_id' required onchange="const o=this.options[this.selectedIndex]; showUpdateMember(o.value, o.getAttribute('data-fname'), o.getAttribute('data-lname'), o.getAttribute('data-phone'), o.getAttribute('data-email'))">
        <option value='' disabled selected>Select a Member</option>
        {{#each members}}
        <option value='{{this.memberID}}' data-fname='{{this.firstName}}' data-lname='{{this.lastName}}' data-phone='{{this.phoneNumber}}' data-email='{{this.email}}'>
            {{this.memberID}} - {{this.firstName}} {{this.lastName}}
        </option>
        {{/each}}
    </select>

    <label for='update-fname'>First Name: </label>
    <input type='text' name='fNameInput' id='update-fname' autocomplete='given-name' />

    <label for='update-lname'>Last Name: </label>
    <input type='text' name='lNameInput' id='update-lname' autocomplete='family-name' />

    <label for='update-phone'>Phone Number: </label>
    <input type='text' name='phoneInput' id='update-phone' autocomplete='tel' />

    <label for='update-email'>Email: </label>
    <input type='email' name='emailInput' id='update-email' autocomplete='email' />

    <input type='hidden' id='update-id' name='memberIDInput' />
    <input type='submit' value="Update Member"/>
</form>

<script src="/js/update_member.js"></script>
<script src="/js/delete_member.js"></script>

{{!--
        Citation for use of AI Tools:
        Date: 02/08/2026
        Prompts used to generate handlebars script
        Write a handlebars script for CS340 OSU Project 3 for the Coupon Entity from the DDL Database (pasted in prompt)
        AI Source URL: https://gemini.google.com/
        Links to an external site.
--}}
